:root {
    scroll-behavior: smooth;
  }

/* General */
body{
    font-family: sans-serif;
    color: black;
    margin: 0;
}
footer{
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 10px 25px;
}
ul{
    list-style-type: none;
}
header *{
    display: inline;
}
header{
    background: #151b54;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 50px;
    padding-top: 25px;
}
header li{
    margin: 20px;
}
.headeralt{
    color: white;
    text-align: center;
}
.headeralter{
    color: white;
    background-image: url("../cssjs/background.png");
    background-size: contain;
    background-position: center;
    background-color: #151b54;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
iframe{
    width: 100%;
    height: 555px;
    background-color: #FAF9F6;
}

/* Navigation */
.active1{
    font-weight: 700;
    color: yellow;
}
.active2{
    font-weight: 700;
    color: yellow;
}

/* Home */
.home{
    background-image: url("../cssjs/background.png");
    background-size: contain;
    background-position: center;
    background-color: #151b54;
    padding: 25px 50px;
    min-height: 555px;
}
.intro{
    color: white;
}
.service{
    color: white;
}
.messenger1{
    color: white;
}
.messenger2{
    color: white;
    text-align: center;
    border: solid teal;
    border-radius: 10px;
    margin-top: 50px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.reachbutton{
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
}
.inquirymail1{
    color: white;
    text-align: center;
    position:absolute;
    top:100px;
    right:100px;
    border: solid teal;
    border-radius: 10px;
    padding: 10px 10px;
}
.inquirymail2{
    color: white;
    text-align: center;
    border: solid teal;
    border-radius: 10px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.inquirymail3{
    color: white;
    text-align: center;
}
.inquirybutton{
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
}
.history{
    color: white;
}

/* Google Classroom */
.classes{
    background-image: url("../cssjs/background.png");
    background-size: contain;
    background-position: center;
    background-color: #151b54;
    padding: 25px 50px;
    min-height: 555px;
}
.classcode{
    color: white;
    text-align: center;
}
.join-alterbutton{
    padding: 5px 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
}
.subjects{
    color: white;
    display: inline-block;
    margin-right: 75px;
}

/* Lecture Notes */
.lectures{
    background-image: url("../cssjs/background.png");
    background-size: contain;
    background-position: center;
    background-color: #151b54;
    padding: 25px 50px;
    min-height: 555px;
}
.lecturenotes{
    color: white;
    text-align: center;
}
.lecturenotefiles{
    color: white;
}
.enter-alterbutton{
    padding: 5px 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
}

/* Reviewers */
.reviews{
    background-image: url("../cssjs/background.png");
    background-size: contain;
    background-position: center;
    background-color: #151b54;
    padding: 25px 50px;
    min-height: 555px;
}
.reviewers{
    color: white;
    text-align: center;
}
.reviewerfiles{
    color: white;
}
.get-alterbutton{
    padding: 5px 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
}

/* Users */
.typeset1{
    padding: 5px 5px;
    width: 250px;
    border-radius: 5px;
    border: solid #151b54;
}
.typeset2{
    font-family: sans-serif;
    padding: 5px 5px;
    height: 100px;
    width: 520px;
    border-radius: 5px;
    border: solid #151b54;
}
.typeset3{
    font-family: sans-serif;
    padding: 5px 5px;
    height: 100px;
    width: 250px;
    border-radius: 5px;
    border: solid #151b54;
}
.typeset4{
    padding: 5px 5px;
    width: 125px;
    border-radius: 5px;
    border: solid #151b54;
}
::placeholder{
    color: #151b54;
    opacity: 1;
}
.reachbutton:hover{
    padding: 5px 10px;
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}
.inquirybutton:hover{
    padding: 5px 10px;
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}
.join-alterbutton:hover{
    padding: 5px 10px;
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}
.enter-alterbutton:hover{
    padding: 5px 10px;
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}
.get-alterbutton:hover{
    padding: 5px 10px;
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}

/* Media */
@media(max-width:1000px){
    .headermain{display: none;}
    .inquirymail1{display: none;}
    .messenger1{display: none;}
    }
@media(min-width:1000px){
    .headeralt{display: none;}
    .headeralter{display: none;}
    .inquirymail2{display: none;}
    .messenger2{display: none;}
}