:root {
    scroll-behavior: smooth;
  }
/* General */
body{
    font-family: sans-serif;
    color: black;
    margin: 0;
}
footer{
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 10px 25px;
}
ul{
    list-style-type: none;
}
header *{
    display: inline;
}
header{
    background: #151b54;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 50px;
    padding-top: 25px;
}
header li{
    margin: 25px;
}
/* Navigation */
.active1{
    font-weight: 700;
    color: yellow;
}
.active2{
    font-weight: 700;
    color: white;
}
.login{
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
}
.login:hover{
    padding: 5px 10px;
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}
.signup{
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 5px;
    border: none;
}
.signup:hover{
    padding: 5px 10px;
    background-color: white;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}

/* Home */
.home{
    background-image: url("../codes/graphics/1.png");
    background-size: contain;
    background-position: center;
    background-color: #151b54;
    padding: 25px 50px;
}
.header2{
    color: yellow;
    text-align: center;
}
.service{
    color: white;
}
.contact1{
    color: white;
}
.contact2{
    color: yellow;
    text-align: center;
}
.address{
    color: white;
}
.history{
    color: white;
    text-align: center;
}
.messenger{
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 5px;
    border: none;
}
.messenger:hover{
    padding: 5px 10px;
    background-color: blue;
    color: yellow;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}
/* Subjects */
.subjects{
    background-image: url("../codes/graphics/2.jpg");
    background-size: contain;
    background-position: center;
    background-color: #151b54;
    background-blend-mode: overlay;
    padding: 25px 50px;
}
.header3{
    color: yellow;
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
}
.sub{
    color: white;
}
/* Inquiry */
.inquiry{
    background-image: url("../codes/graphics/3.jpg");
    background-size: contain;
    background-position: center;
    background-color: #151b54;
    background-blend-mode: multiply;
    padding: 25px 50px;
}
.header4{
    color: yellow;
    text-align: center;
    text-transform: uppercase;
}
.inquire{
    color: white;
}
/* Media */
@media(max-width:1000px){
.header1{display: none;}
.contact1{display: none;}
.loginuser1{display: none;}
.help1{display: none;}
.signupuser1{display: none;}
}
@media(min-width:1000px){
.header2{display: none;}
.contact2{display: none;}
.loginuser2{display: none;}
.help2{display: none;}
.signupuser2{display: none;}
}
/* Users */
form{
    color: white;
    text-align: center;
}
.log{
    padding: 5px 5px;
    width: 250px;
    border-radius: 5px;
    border: solid #151b54;
}
.sign{
    padding: 5px 5px;
    width: 115px;
    border-radius: 5px;
    border: solid #151b54;
}
::placeholder{
    color: #151b54;
    opacity: 1;
}
.loginuser1{
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
}
.loginuser1:hover{
    padding: 5px 10px;
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}
.signupuser1{
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 5px;
    border: none;
}
.signupuser1:hover{
    padding: 5px 10px;
    background-color: white;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: 16px; font-weight: 700;
}